#container {
    display: flex;
}

.status_row {
    display: flex;
    height: 30px;
}

    .status_row > div {
        width: 60px;
    }

input {
    height: 16px;
    width: 80px;
}

#tree {
    display: flex;
    flex-direction: column;
}

.tree_row {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

#tree_container {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.grand_container {
    display: flex;
    justify-content: center;
    width: 160px;
}

.parent_container {
    display: flex;
    justify-content: center;
    width: 50%;
}


input:read-only,
textarea:read-only {
    background-color: #ddd;
}

input[type="radio"], input[type="checkbox"] {
    width: 16px;
}


.title {
    margin-top: 24px;
}
