#container {
    display: flex;
}

#status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status_row {
    display: flex;
    height: 28px;
}

    .status_row > div {
        width: 60px;
    }

input {
    height: 20px;
    width: 80px;
}

#tree {
    display: flex;
    flex-direction: column;
}

.tree_row {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

#tree_container {
    display: flex;
    align-items: center;
    margin-left: 60px;
}


.grand_container, .parent_container {
    display: flex;
    justify-content: center;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 8px 4px;
    margin: 2px 10px;
}

.grand_container {
    width: 160px;
}

.parent_container_container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.parent_container {
    width: 160px;
}

select {
    margin-left: 8px;
}

input:read-only,
textarea:read-only {
    background-color: #eee;
}

input[type="radio"], input[type="checkbox"] {
    width: 16px;
}


.title {
    margin-top: 24px;
}





#line1 {
    margin-left: -565px;
}

#line2 {
    margin-left: -187px;
}

#line3 {
    margin-left: 187px;
}

#line4 {
    margin-left: 565px;
}

.line_vertical {
    margin-top: 44px;
    position: absolute;
    border-left: 2px solid #222;
    height: 24px;
}


#line5 {
    margin-left: -376px;
}

#line6 {
    margin-left: 376px;
}

.line_horizontal {
    margin-top: 68px;
    position: absolute;
    border-bottom: 2px solid #222;
    width: 191px;
}



#line7 {
    margin-left: -376px;
}

#line8 {
    margin-left: 376px;
}

.line_vertical2 {
    margin-top: 68px;
    position: absolute;
    border-left: 2px solid #222;
    height: 26px;
}



#container2 {
    display: flex;
}

#container2_right {
    display: flex;
    align-items: center;
}

#tbl_keitou {
    margin-left: 20px;
    border: 1px solid #cecece;
    border-spacing: 0;
}

    #tbl_keitou tr {
        height: 10px;
    }

    #tbl_keitou th, #tbl_keitou td {
        padding: 10px 0;
        text-align: center;
        width: 60px;
        border: 1px solid #cecece;
        line-height: 10px;
    }

    #tbl_keitou tr:nth-child(odd) {
        background-color: #eee
    }
